$jc-input-forground-color:             #033c73 !default;
$jc-input-background-color:            #ffffff !default;
$jc-input-forground-disabled-color:    #606060 !default;
$jc-input-background-disabled-color:   #e8e8e8 !default;
$jc-input-border-color:                #cccccc !default;
$jc-input-border-error-color:          #dd5600 !default;
$jc-input-border-focus-color:          #2fa4e7 !default;
$jc-input-border-disabled-color:       $jc-input-border-color !default;
$jc-input-border-radius:               0px !default;
$jc-input-padding-top-bottom:          0.33em !default;
$jc-input-padding-left-right:          0.5em !default;
$jc-input-button-color:                $jc-input-forground-color !default;
$jc-input-button-null-color:           #e0e0e0 !default;
$jc-input-errormsg-border-color:       #000000 !default;
$jc-input-errormsg-background-color:   #ffffa0 !default;
$jc-input-errormsg-border-radius:      4px !default;

@keyframes jannesen-ui-fade-waitbackground {
    0% { background-color: #ffffff; color: #000000; }
  100% { background-color: #d8d8d8; color: #808080; }
}

@mixin fa-input-button($content, $width, $size, $offset:0em) {
    $fontsize: round(100 * (1em + $jc-input-padding-top-bottom * 2) / ($width / $size)) / 100;

    font-size:      100% * $fontsize;
    font-weight:    $font-awesome-solid;
    content:        fa-content($content);
    display:        flex;
    top:            0;
    left:           0;
    position:       absolute;
    width:          100%;
    height:         100%;
    flex-direction: row;
    align-items:    center;
    justify-content:center;
}

input::-ms-clear {
    display:    none;
    width:      0;
    height:     0;
}

.jannesen-input {
    font-family:        inherit;
    font-size:          100%;
}

input.jannesen-input, textarea.jannesen-input, select.jannesen-input, div.jannesen-input.-container {
    display:            inline-block;
    position:           relative;
    box-sizing:         border-box;
    margin:             0;
    outline:            none;
    vertical-align:     top;
    text-align:         left;
    color:              $jc-input-forground-color;
    background-color:   $jc-input-background-color;
    border:             1px solid $jc-input-border-color;
    border-radius:      $jc-input-border-radius;
    transition:         border-color ease-in-out .2s;
    width:              100%;

    &.-error {
        @include input-error();
    }

    &:focus {
        @include input-focus();
    }

    &:not([disabled]):hover {
        @include input-hover();
    }

    &[disabled]:hover {
        border-color: $jc-input-border-disabled-color
    }
}

input.jannesen-input, select.jannesen-input, div.jannesen-input.-container {
    height:             2em;
}

textarea.jannesen-input {
    line-height:    1.25;
    height:         5.833em;
}

input.jannesen-input, textarea.jannesen-input, select.jannesen-input {
    padding:            $jc-input-padding-top-bottom $jc-input-padding-left-right;
}

input:disabled.jannesen-input, textarea:disabled.jannesen-input, select:disabled.jannesen-input, div[disabled].jannesen-input.-container, div.jannesen-input > input:disabled {
    background-color:   $jc-input-background-disabled-color !important;
    color:              $jc-input-forground-disabled-color  !important;
    border-color:       $jc-input-border-disabled-color     !important;
    pointer-events:     none;
}

div.jannesen-input[disabled] {
    pointer-events:     none;
}

input.jannesen-input {
    &.-integer,&.-number,&.-date,&.-datetime,&.-time {
        text-align:     right;
    }
}

div.jannesen-input {
    display:        inline-block;
    position:       relative;
    vertical-align: top;
    white-space:    nowrap;

    > input {
        display:            inline-block;
        padding:            0;
        margin:             $jc-input-padding-top-bottom $jc-input-padding-left-right;
        outline:            none;
        height:             1.1667em;
        width:              calc(100% - #{ $jc-input-padding-left-right * 2 });
        box-sizing:         border-box;
        vertical-align:     top;
        text-align:         left;
        border:             0 none;
        color:              $jc-input-forground-color;
        background-color:   rgba(0,0,0,0);
        font-family:        inherit;
        font-size:          100%;
    }

    &.-dropdown {
        > input {
            width:              calc(100% - #{ $jc-input-padding-left-right * 2 + 1.0833em });
        }
    }

    &.-focus  {
        @include input-focus();
    }

    &.-integer,&.-number,&.-date,&.-datetime,&.-time {
        > input {
            text-align:     right;
        }
    }

    &.-boolean,&.-radio {
        @include            user-select(none);
    }

    > span.-button {
        display:            inline-block;
        position:           relative;
        vertical-align:     top;
        font-size:          100%;
        box-sizing:         content-box;
    }

    &.-button, > span.-button {
        margin:             0;
        width:              1.1667em + ($jc-input-padding-top-bottom * 2);
        height:             1.1667em + ($jc-input-padding-top-bottom * 2);
        line-height:        1.125em;
        color:              $jc-input-button-color;
        background-color:   $jc-input-background-color;
        border:             1px solid $jc-input-border-color;
        border-radius:      $jc-input-border-radius;
        text-align:         left;
        transition:         border-color ease-in-out .2s;

        @include            user-select(none);
        @include            fa-icon();
        &:before {
            position:       absolute;
        }

        &:hover {
            @include input-btn-hover();
        }
        &:focus {
            @include input-focus();
        }

        &.-null {
            color:              $jc-input-button-null-color;
        }

        &.-null:before,
        &.-true:before    { @include fa-input-button($fa-var-check, 1.000em, 1); }
        &.-checked:before { @include fa-input-button($fa-var-check, 1.000em, 1);          }

        &[disabled].-null:before { opacity: 0.2 }
    }
    &:not([disabled]):hover {
        &.-button, span.-button {
           @include input-hover();
        }
    }

    > span.-dropdown-button {
        display:            inline-block;
        margin:             0;
        width:              1em;
        height:             1em;
        padding:            $jc-input-padding-top-bottom 0;
        @include            user-select(none);
        @include            fa-icon();
        opacity:            .3;
        transition:         opacity ease-in-out .2s;
        &:focus {
            outline:        none;
        }
        &:hover {
            opacity:            1;
        }
        &:before {
            font-size:      1.2em;
            text-align:     center;
            font-weight:    $font-awesome-solid;
            content:        fa-content($fa-var-caret-down);
        }
    }

    &[disabled] {
        &.-button,> span.-button {
            background-color:   $jc-input-background-disabled-color !important;
            color:              $jc-input-forground-disabled-color  !important;
            border-color:       $jc-input-border-disabled-color     !important;
        }

        > span.-label {
            opacity:            .3;
        }

        > span.-dropdown-button {
            display: none;
        }
    }

    > span:not(:first-child) {
        border-left: 0;
    }

    &.-date > span.-button:before          { @include fa-input-button($fa-var-calendar,   0.929em, 0.85, -0.05em);   }
    &.-enum > span.-button:before          { @include fa-input-button($fa-var-caret-down, 0.572em, 0.85);            }

    > span.-label {
        box-sizing:     content-box;
        display:        inline-block;
        white-space:    normal;
        line-height:    1.125em;
        padding:        calc(#{$jc-input-padding-top-bottom} + 1px) 0 $jc-input-padding-top-bottom 0.5em;
        margin-top:     1px;
        vertical-align: top;
    }

    &.-busy {
        &::before {
            display:        block;
            position:       absolute;
            right:          0.1667em;
            top:            50%;
            margin-top:     -.5em;
            margin-left:    -.5em;
            font-size:      1.333em;
            color:          #0000a0;
            animation:      jannesen-ui-content-fadein-loading 1s linear 0s 1, jannesen-ui-content-spin 1s infinite linear;
            z-index:        1000;
            font-weight:    $font-awesome-solid;
            @include        fa-icon($fa-var-sync);
        }
        &.-dropdown::before {
            right:          1.25em;
        }
    }
}

span.jannesen-ui-output {
    display:            inline-block;
    box-sizing:         border-box;
    padding:            $jc-input-padding-top-bottom $jc-input-padding-left-right;
    background:         #eaeaea;
    width:              100%;
    border:             1px solid $jc-input-border-color;
    border-radius:      $jc-input-border-radius;
}
