$jc-menu-border-color:                #cccccc !default;
$jc-main-transition-time:            .25s !default;

button.jannesen-ui-menu.-button {
    display:            inline-block;
    text-align:         center;
    white-space:        nowrap;
    cursor:             pointer;
    user-select:        none;
    border:             1px solid rgba(0,0,0,0);
    transition:         border-color ease-in-out .2s;

    &:focus {
        @include input-focus();
    }
    &.-active {
        border-color: $jc-menu-border-color;
    }
    &:hover {
        @include input-focus();
    }

    &.-more-menu {
        float:              right;
        width:              1.2em;
        height:             1.2em;
        background-color:   rgba(0,0,0,0);
        text-align:         center;
        padding:            0;
        margin:             0;
        font-size:          1.4em;
        @include            fa-icon();
        &::after {
            font-weight:    $font-awesome-solid;
            content:        fa-content($fa-var-ellipsis-v);
        }
    }
}

div.jannesen-ui-menu.-popup {
    border:         1px solid $jc-menu-border-color;
    transition:     width ease-in-out $jc-main-transition-time;
    overflow:       hidden;
    box-shadow:     2px 2px 2px rgba(0, 0, 0, 0.3);

    &.-first-menu {
        transition:     width ease-in-out $jc-main-transition-time;
    }

    &.-transition-height {
        transition:     height ease-in-out $jc-main-transition-time;
    }

    > div.-items {
//        font-size:      1.2em;
        > div.-item {
            cursor:             pointer;
            height:             2em;
            line-height:        2em;
            padding:            0 .5em;
            text-decoration:    none;
            user-select:        none;

            &.-selected {
                background: rgba(0, 0, 0, .1);
            }

            &:not([disabled]):hover {
                background: rgba(0, 0, 0, .1);
            }

            &[disabled] {
                opacity:        .3;
            }

            > .-content {
                display:     inline-block;
            }

            > .-icon {
                display:            inline-block;
                float:              right;
                padding-left:       1em;
                @include            fa-icon();
                &::after {
                    font-weight:    $font-awesome-solid;
                    content:        fa-content($fa-var-caret-right);
                }
            }
        }
        > hr {
            margin:         .1em 0;
            border-top:     1px solid $jc-menu-border-color;
            border-bottom:  0 none;
        }
    }
}
