$jc-btn-border-color:                #cccccc !default;
$jc-btn-border-radius:               0 !default;
$jc-line-icon-btn-width:             1.5em !default;

.btn {
    display:            inline-block;
    position:           relative;
    padding:            0.4167em 0.8em;
    height:             2.1667em;
    margin:             0;
    background-color:   #f4f4f4;
    color:              #000000;
    border:             1px solid $jc-btn-border-color;
    border-radius:      $jc-btn-border-radius;
    font-size:          1em;
    font-weight:        400;
    text-align:         center;
    white-space:        nowrap;
    min-width:          5em;
    touch-action:       manipulation;
    cursor:             pointer;
    @include user-select(none);
    transition:         background-color ease-in-out .2s,color ease-in-out .2s, border-color ease-in-out .2s, opacity .2s;

    &:not(:disabled):hover {
        @include            input-btn-hover();
        background-color:   #d7faff;
        color:              #0000a0;
    }
    &:focus {
        @include            input-focus();
        background-color:   #d7faff;
        color:              #0000a0;
    }
    &:disabled {
        opacity:            .2;
    }

    &.btn-cancel,&.btn-close,&.btn-ok,&.btn-no,&.btn-yes,&.btn-save,&.btn-submit,&.btn-remove,&.btn-add,&.btn-copy,&.btn-search,&.btn-next,&.btn-prev {
        padding-left: 2.25em;

        &:before {
            display:            flex;
            position:           absolute;
            top:                0;
            left:               0.25em;
            font-family:        'Font Awesome 5 Pro';
            font-weight:        normal;
            font-style:         normal;
            text-decoration:    none;
            font-size:          1.5em;
            opacity:            0.6;
            transition:         opacity ease-in-out .2s;
            width:              100%;
            height:             100%;
            flex-direction:     row;
            align-items:        center;
        }
        &:not(:disabled):hover:before {
            opacity: 1;
        }
    }

    &.btn-cancel {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-times);
            color:      #ff0000;
        }
    }
    &.btn-close {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-times);
            color:      #707070;
        }
    }
    &.btn-ok {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-check);
            color:      #00c000;
        }
    }
    &.btn-no {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-times);
            color:      #ff0000;
        }
    }
    &.btn-yes {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-check);
            color:      #00c000;
        }
    }
    &.btn-save,&.btn-submit {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-save);
            color:      #00a000;
        }
    }
    &.btn-remove {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-trash);
            color:      #e87800;
        }
    }
    &.btn-add {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-plus);
            color:      #3fc03f;
        }
    }
    &.btn-copy {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-copy);
            color:      #6c3fc0;
        }
    }
    &.btn-search {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-search);
            color:      #3f3fff;
        }
    }
    &.btn-next {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-arrow-right);
            color:      #3f3fff;
        }
    }
    &.btn-prev {
        &:before {
            font-weight:$font-awesome-solid;
            content:    fa-content($fa-var-arrow-left);
            color:      #3f3fff;
        }
    }
}

@mixin line-icon-btn-helper($content, $color, $size, $width, $height) {
    &:before {
        font-size:      1em * $size;
        top:            calc(1em * ((12 - $height * $size) / 2) / (12 * $size));
        left:           calc(1em * ((12 * ($jc-line-icon-btn-width / 1em) - $width * $size) / 2) / (12 * $size));
        color:          $color;
        font-weight:    $font-awesome-solid;
        content:        fa-content($content);
    }
}

.line-icon-btn {
    display:            inline-block;
    position:           relative;
    padding:            0;
    margin:             0;
    border:             0;
    width:              $jc-line-icon-btn-width;
    height:             1em;
    background-color:   transparent;
    text-align:         center;
    white-space:        nowrap;
    cursor:             pointer;
    user-select:        none;
    overflow:           visible;
    line-height:        1;
    font-size:          inherit;
    font-weight:        400;
    vertical-align:     top;
    &:before {
        position:   absolute;
        opacity:    0.3;
        transition: opacity linear .35s;
        font-size:  1.5em;
        @include    fa-icon();
    }
    &:focus {
        outline:        none;
    }
    &:hover {
        border:         0;
        &:before {
            opacity:        1 !important;
        }
    }
    &[disabled] {
        pointer-events: none;
        opacity:    0.3;
    }
    &.-edit     { @include line-icon-btn-helper($fa-var-pencil, #0035ff, 1.5, 10.29, 12) }
    &.-add      { @include line-icon-btn-helper($fa-var-plus,   #00d000, 1.5,  9.43, 11) }
    &.-delete   { @include line-icon-btn-helper($fa-var-trash,  #c50000, 1.5,  9.43, 12) }
    &.-ban      { @include line-icon-btn-helper($fa-var-ban,    #c50000, 1.5, 10.29, 12) }
    &.-search   { @include line-icon-btn-helper($fa-var-search, #c50000, 1.5, 10.29, 12) }
}
