@keyframes jannesen-datatable-fade-btn {
    0% { background-color: #f0f0f0; }
  100% { background-color: #c8c8c8; }
}

div.jannesen-datatable {
    display:            block;
    position:           relative;
    overflow:           hidden;
    box-sizing:         border-box;
    outline:            0;
    user-select:        none;

    >div.-table {
        width:          calc(100% - 16px);
        overflow:       hidden;
        user-select:    text;

        > table {
            box-sizing:     border-box;
            min-width:      100%;
        }
    }
    >div.-filter {
        display:            inline-block;
        position:           absolute;
        top:                0;
        right:              20px;
        z-index:            10;
        margin:             0;
        vertical-align:     top;
        text-align:         left;
        border:             .0833em solid #42455c;
        padding:            .3333em;
        box-sizing:         border-box;
        background-color:   #eaeaea;
        border-radius:      0px;
        font-size:          12px;
        overflow:           hidden;
        transition:         border-color ease-in-out .2s, top ease-in-out .2s;


        >.-input {
            padding:            .1667em .25em;
            margin:             0;
            outline:            none;
            width:              15em;
            height:             1.667em;
            box-sizing:         border-box;
            vertical-align:     top;
            text-align:         left;
            border:             1px solid #cccccc;
            color:              #000000;
            background-color:   #ffffff;
            font-family:        inherit;
            font-size:          100%;
            &:focus {
                @include input-focus();
            }
        }
        >.-close {
            width:              1em;
            height:             1em;
            padding:            0 .1667em 0 .5em;
            font-family:        'Font Awesome 5 Pro';
            font-weight:        normal;
            font-style:         normal;
            text-decoration:    none;
            font-size:          1.5em;
            color:              #9f9f9f;
            transition:         color ease-in-out .2s;

            &:before {
                font-weight:    $font-awesome-solid;
                content:        fa-content($fa-var-times);
            }
            &:hover {
                color:          #000000;
            }
        }
    }
    &:not(.-filter-enabled) {
        >div.-filter {
            top:                -2.5em;
        }
    }
    >div.-filter-btn {
        position:       absolute;
        top:            0;
        right:          0;
        display:        inline-block;
        width:          16px;
        padding:        0;
        background:     #d8d8d8;
        color:          #9f9f9f;
        font-size:      1em;
        transition:     color ease-in-out .2s;

        &:before {
            position:           absolute;
            top:                .25em;
            right:              .1667em;
            font-family:        'Font Awesome 5 Pro';
            font-weight:        $font-awesome-solid;
            font-style:         normal;
            text-decoration:    none;
            content:            fa-content($fa-var-filter);
        }
        &:hover {
            color:          #000000;
        }
    }
    >div.-scroll-vertical {
        position:       absolute;
        top:            0;
        right:          0;
    }
}

@keyframes jannesen-scrollbar-fade-btn {
    0% { background-color: #f0f0f0; }
  100% { background-color: #c8c8c8; }
}

@keyframes jannesen-scrollbar-fade-bar {
    0% { background-color: #c8c8c8; }
  100% { background-color: #909090; }
}

div.jannesen-scrollbar {
    position:           relative;
    display:            inline-block;
    background-color:   #f0f0f0;
    @include            user-select(none);
    cursor:             default;

    > div.-btn-up, > div.-btn-down {
        display:            inline-block;
        position:           absolute;
        padding:            0;
        &:before {
            padding-left:       5px;
            font-family:        'Font Awesome 5 Pro';
            font-size:          12px;
            font-weight:        $font-awesome-solid;
            font-style:         normal;
            text-decoration:    none;
            color:              #c8c8c8;
        }
        &.-enabled {
            &:before {
                color:          #000000;
            }
            &:hover {
                animation:          jannesen-scrollbar-fade-btn .2s ease-in-out 0s 1 both;
            }
        }
    }
    > div.-slider {
        display:            inline-block;
        position:           absolute;
        > div.-bar {
            height:             100%;
            margin-left:        20%;
            width:              60%;
            background-color:   #c8c8c8;
        }
        &:hover {
            > div.-bar {
                animation:          jannesen-scrollbar-fade-bar .2s ease-in-out 0s 1 both;
            }
        }
        &.-move {
            > div.-bar {
                background-color: #909090
            }
        }
    }
    > div.-btn-up {
        top:        0;
        &:before {
            font-weight:    $font-awesome-solid;
            content:        fa-content($fa-var-caret-up)
        }
    }
    > div.-btn-down {
        bottom:         0;
        &:before {
            font-weight:    $font-awesome-solid;
            content:        fa-content($fa-var-caret-down)
        }
    }
}
